@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url("https://assets.ubuntu.com/v1/50afa266-ubuntu-l-webfont.woff2") format("woff2"), url("https://assets.ubuntu.com/v1/0194407b-ubuntu-l-webfont.woff") format("woff"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url("https://assets.ubuntu.com/v1/1cbafee5-ubuntu-r-webfont.woff2") format("woff2"), url("https://assets.ubuntu.com/v1/81863185-ubuntu-r-webfont.woff") format("woff"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: url("https://assets.ubuntu.com/v1/abb07502-ubuntu-li-webfont.woff2") format("woff2"), url("https://assets.ubuntu.com/v1/65fc9630-ubuntu-li-webfont.woff") format("woff"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: url("https://assets.ubuntu.com/v1/fca66073-ubuntu-ri-webfont.woff2") format("woff2"), url("https://assets.ubuntu.com/v1/f0898c72-ubuntu-ri-webfont.woff") format("woff"); }

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 300;
  src: url("https://assets.ubuntu.com/v1/871f7456-ubuntumono-r-webfont.woff2") format("woff2"), url("https://assets.ubuntu.com/v1/8df3f408-ubuntumono-r-webfont.woff") format("woff"); }

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url("https://assets.ubuntu.com/v1/871f7456-ubuntumono-r-webfont.woff2") format("woff2"), url("https://assets.ubuntu.com/v1/8df3f408-ubuntumono-r-webfont.woff") format("woff"); }

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: subpixel-antialiased; }

body {
    padding-top: 0;
    font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 300
}

/* Overrides bootstrap */
.cve-tracker-navbar {
    background-color: #dd4814!important;
}

/* Overrides bootstrap */
.navbar-brand, .nav-link {
    font-weight: 400;
}

/* Overrides bootstrap */
ul.style-none {
    list-style: none;
}

div#footer {
 width: 100%;
 font-size: smaller;
 padding: 1em;
 text-align: center;
}

p.note {
 font-size: smaller;
 margin: 0.2em;
}

/* Overrides bootstrap */
a:link {
    color:#007aa6;
    text-decoration: none
}

a:visited {
    color: #005573;
}

a:hover {
    text-decoration: underline;
}

/* Overrides bootstrap */
.table th {
    padding: .5rem;
}

/* Overrides bootstrap */
.table .thead-dark th {
    background-color: #dd4814;
}

/* Overrides bootstrap */
table#cves td {
    padding: .10rem!important;
    font-size: .85rem;
}

/* critical */
tr.critical td.needed,
tr.critical td.needs-triage,
tr.critical td.pkgpending {
 background-color: red;
 font-weight: bold;
}

/* high */
tr.high td.needed,
tr.high td.needs-triage,
tr.high td.pkgpending {
 background-color: red;
}

/* medium */
tr.medium td.needed,
tr.medium td.needs-triage,
tr.medium td.pkgpending {
 background-color: orange;
}

/* low */
tr.low td.needed,
tr.low td.needs-triage,
tr.low td.pkgpending {
 background-color: yellow;
}

/* negligible */
tr.negligible td.needed,
tr.negligible td.needs-triage,
tr.negligible td.pkgpending {
 background-color: #ddd;
}

/* override critical */
td.needed div.critical,
td.needs-triage div.critical,
td.pkgpending div.critical {
 background-color: red;
 font-weight: bold;
}

/* override high */
td.needed div.high,
td.needs-triage div.high,
td.pkgpending div.high {
 background-color: red;
}

/* override medium */
td.needed div.medium,
td.needs-triage div.medium,
td.pkgpending div.medium {
 background-color: orange;
}

/* override low */
td.needed div.low,
td.needs-triage div.low,
td.pkgpending div.low {
 background-color: yellow;
}

/* override negligible */
td.needed div.negligible,
td.needs-triage div.negligible,
td.pkgpending div.negligible {
 background-color: #ddd;
}

/* released, DNE, not-affected */
td.released, td.DNE, td.not-affected {
 background-color: green;
}

/* released-esm */
td.released-esm {
 background-color: #3498DB;
}

/* untriaged */
tr.untriaged td.needed,
td.untriaged td.needed,
tr.untriaged td.needs-triage,
td.untriaged td.needs-triage,
tr.untriaged td.pkgpending,
td.untriaged td.pkgpending {
 background-color: #f6f;
}

/* pending */
td.pending, td.open {
 background-color: #0f0;
}

/* pending with a version */
td.pendingversion {
 background-color: #00aa00;
}

td.open, td.n0 {
 background-color: #0f0;
}

td.n1k {
 background-color: green;
}

td.fiodf, td.n10k {
 background-color: orange;
}

td.n20k {
 background-color: red;
}

td p {
 padding: 0;
 margin: 0;
}

.key {
    font-size: 1.0rem;
}
